<div class="container mt-5">
  <div class="row">
    <div class="tabs col-sm-12 col-md-8">
      <div class="tab active">
        <div class="tab-box p-2 text-center">
          <p class="col-md-12 text-muted">Transferência Bancária</p>
        </div>
      </div>

      <div class="tab">
        <div class="tab-box p-2 text-center">
          <p class="col-md-12 text-muted">Pagamento em Dinheiro</p>
        </div>
      </div>

    </div>

    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="my-2">Dados para pagamento:</p>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <p>Favorecido: </p>
              <img src="assets/paymee-logo.png" class="img-fluid">
              <small class="text-muted">Paymee Brasil Serviços de Pagamentos SA</small>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="card border-0 text-muted text-center">
              <div class="card-body p-2 bg-agency">
                Agência:
                <h3><strong>7633</strong></h3>
              </div>
              <div class="card-body p-2 bg-account">
                Conta Corrente:
                <h3><strong>10704-5</strong></h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-muted text-center">
            <h4>Valor a Pagar</h4>
            <h4><strong>R$ 268,98</strong></h4>
            <hr>
            <p>Lembre-se que você tem:</p>
            <h4 class="text-danger mb-3"><i class="fa fa-clock fa-lg"></i><strong> {{ time_disp }} </strong></h4>
            <p>para fazer seu pagamento.</p>
          </div>
          <div class="col-md-12">
            <div class="accordion mb-3" id="accordion">
              <div class="card border-0">
                <div class="btn card-header d-flex justify-content-between" data-toggle="collapse" data-target="#aditional-info" aria-expanded="true" aria-controls="aditional-info" id="header">
                  <h5 class="mb-0">
                    <img src="assets/itau.png" width="30">
                  </h5>
                  <div>
                    <strong>Instruções detalhadas <i class="fa fa-chevron-down"></i></strong>
                  </div>
                </div>
                <div id="aditional-info" class="collapse" aria-labelledby="header" data-parent="#accordion" >
                  <div class="card-body">
                    Instruções aqui
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="d-flex justify-content-between">
              <a href="https://www.mercadopago.com"><small>Retorne a MercadoPago</small></a>
              <small>Receber Instruções via: <i class="fa fa-envelope"></i> <i class="fa fa-print"></i></small>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button routerLink="confirmar" type="button" class="btn btn-light-blue badge-pill btn-block mb-2">IR PARA INTERNET BANKING</button>
            <small class=" text-muted">Em caso de dúvidas, envie um e-mail para falecom@paymee.com.br</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

