<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">  
      <ul class="tabs row">
        <li [ngClass]="{'col-xs-6': true, 'active': transfer_type}" (click)="tab_click(true)"><a href="javascript:;">Transferência<br class="only-mobile"> Bancária</a></li> 
        <li [ngClass]="{'col-xs-6': true, 'active': !transfer_type}" (click)="tab_click(false)"><a href="javascript:;">Pagamento<br class="only-mobile"> em Dinheiro</a></li>
      </ul>
    </div>
    <div class="card border-0 col-md-10 offset-md-1 shadow-sm">
      <div class="card-body mx-3 pb-2">
        <div class="row">
          <div class="col-md-12">
            <p class="my-2 text-muted">Dados para pagamento:</p>
          </div>
          <div class="col-md-4 bg-ultraligth-grey">
            <p class="text-muted my-2">Favorecido: </p>
            <img *ngIf="bank" [src]="bank.logo_commerce_path" class="img-fluid w-75 my-4">
            <p><small class="text-muted">Paymee Brasil Serviços de Pagamentos SA</small></p>
          </div>
          <div class="col-md-4 bg-ultraligth-grey d-flex">
            <div class="flex-grow-1 d-flex">
              <div class="col col-12 d-flex flex-column text-muted text-center">
                <div class="row flex-grow-1">
                  <div class="col-12 bg-agency d-flex">
                    <div class="col-12 align-self-center">
                      Agência:
                      <h3><strong>{{ bank.agency }}</strong></h3>
                    </div>
                  </div>
                </div>
                <div class="row flex-grow-1">
                  <div class="col-12 bg-account d-flex">
                    <div class="col-12 align-self-center">
                      Conta Corrente:
                      <h3><strong>{{ bank.ccurrent }}</strong></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-muted bg-ultraligth-grey d-flex">
            <div class="col col-12 d-flex flex-column text-muted text-center">
                <div class="row flex-shrink-1 mt-3">
                  <div class="col-12 d-flex">
                    <div class="col-12 text-center align-self-center">
                      <h4>Valor a Pagar</h4>
                      <h4><strong>R$ {{ bank.value }}</strong></h4>
                    </div>
                  </div>
                </div>
                <div class="row flex-grow-1">
                  <div class="col-12 d-flex">
                    <div class="col-12 text-center align-self-center">
                      <hr class=" mb-0">
                    </div>
                  </div>
                </div>
                <div class="row flex-shrink-1">
                  <div class="col-12 d-flex">
                    <div class="col-12">
                        <span>Lembre-se que você tem:</span>
                        <h5 class="text-danger text-center">
                          <i class="fa fa-clock fa-lg"></i><small><strong> {{ time_disp }}</strong></small>
                        </h5>
                        <p>para fazer seu pagamento.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
          <div class="col-md-12 mt-3 bg-ultraligth-grey">
            <div class="accordion" id="accordion">
              <div class="card border-0">
                <div class="btn bg-ultraligth-grey d-flex justify-content-between" data-toggle="collapse" data-target="#aditional-info" aria-expanded="true" aria-controls="aditional-info" id="header">
                  <h5 class="mb-0">
                    <img *ngIf="bank" [src]="bank.logo" width="30">
                  </h5>
                  <div>
                    <strong>Instruções detalhadas <i class="fa fa-chevron-down fa-sm"></i></strong>
                  </div>
                </div>
                <div id="aditional-info" class="collapse" aria-labelledby="header" data-parent="#accordion" >
                  <div class="card-body">
                    <p><span class="step">1</span>Acesse https://www.itau.com.br/ com sua agência, conta e senha.</p>
                    <p><span class="step">2</span>No menu de serviços, selecione "Transferência entre Contas Itaú"</p>
                    <p><span class="step">3</span>Informe a agência 7633 e conta-corrente 10704-5</p>
                    <p><span class="step">4</span>Confirme o nome para pagamento: PayMee Brasil Serviços de Pagamentos S.A.</p>
                    <p><span class="step">5</span>Confirme o valor de: R$ 5.00 e efetue o pagamento. </p>
                    <p><span class="step">6</span>PRONTO! O pagamento do seu pedido será confirmado à Zona Azul (Inova) </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 px-0 mb-3">
            <div class="d-flex justify-content-between">
              <a href="https://www.mercadopago.com"><small>Retorne a MercadoPago</small></a>
              <small>Receber Instruções via: <i class="fa fa-envelope"></i> <i class="fa fa-print"></i></small>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button routerLink="/finalizar" type="button" class="btn btn-light-blue badge-pill btn-block mb-2">IR PARA INTERNET BANKING</button>
            <small class=" text-muted">Em caso de dúvidas, envie um e-mail para falecom@paymee.com.br</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

