<div class="container mt-5">
  <div class="row">
    <div class="tabs col-sm-12 col-md-8">
      <div class="tab active">
        <div class="tab-box p-2 text-center">
          <p class="col-md-12 text-muted">Transferência Bancária</p>
        </div>
      </div>

      <div class="tab">
        <div class="tab-box p-2 text-center">
          <p class="col-md-12 text-muted">Pagamento em Dinheiro</p>
        </div>
      </div>

    </div>

    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="my-2">Selecione o seu banco:</p>
            <hr>
            <img *ngFor="let bank of banks" [src]="bank.logo" height="80px">
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="button" class="btn badge-pill btn-light-blue">Conta PF</button>
              <button type="button" class="btn badge-pill ">Conta PJ</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control badge-pill" placeholder="CPF do titular">
            </div>
            <div class="form-group">
              <input class="form-control badge-pill" placeholder="Nome">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control badge-pill" placeholder="Email">
            </div>
            <div class="form-group">
              <input class="form-control badge-pill" placeholder="Telefone">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button routerLink="confirmar" type="button" class="btn btn-light-blue badge-pill btn-block mb-2">OBTER INSTRUÇÕES DE PAGAMENTO</button>
            <small class=" text-muted">Em caso de dúvidas, envie um e-mail para falecom@paymee.com.br</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

