<div class="container mt-5">
  <div class="row">
    <div class="tabs col-sm-12 col-md-8">
      <div class="tab active">
        <div class="tab-box p-2 text-center">
          <p class="col-md-12 text-muted">Transferência Bancária</p>
        </div>
      </div>

      <div class="tab">
        <div class="tab-box p-2 text-center">
          <p class="col-md-12 text-muted">Pagamento em Dinheiro</p>
        </div>
      </div>

    </div>

    <div class="card border-0">
      <div class="card-body">
        <form class="row" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="col-md-12">
            <p class="my-2">Selecione o seu banco:</p>
            <hr>
            <img (click)="selectedBank=bank" *ngFor="let bank of banks" [src]="bank.logo" height="80px">
          </div>

          <div class="col-md-12" *ngIf="typePerson && selectedBank.name === 'Banco Itau'">
            <div class="form-group">
              <button type="button" class="btn badge-pill btn-light-blue" (click)="typePerson=true">Conta PF</button>
              <button type="button" class="btn badge-pill" (click)="typePerson=false">Conta PJ</button>
            </div>
          </div>

          <div *ngIf="!typePerson && selectedBank.name === 'Banco Itau'" class="col-md-12">
            <div class="form-group">
              <button type="button" (click)="typePerson=true" class="btn badge-pill">Conta PF</button>
              <button type="button" (click)="typePerson=false" class="btn badge-pill btn-light-blue">Conta PJ</button>
            </div>
          </div>

          <div *ngIf="!typePerson && selectedBank.name === 'Banco Itau' || selectedBank.name === 'Banco do Brasil' " class="col-md-6">
            <div class="form-group">
              <input type="text" name="agencia" [(ngModel)]="user.agencia" #agencia="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && agencia.invalid }" placeholder="Número da agência" required>
              <div *ngIf="f.submitted && agencia.invalid" class="invalid-feedback">
                <div *ngIf="agencia.errors.required">Preencha com o número da agência</div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" name="bank_account" [(ngModel)]="user.bank_account" #bank_account="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && bank_account.invalid }" placeholder="Conta corrente" required>
              <div *ngIf="f.submitted && bank_account.invalid" class="invalid-feedback">
                <div *ngIf="bank_account.errors.required">Preencha com a conta corrente</div>
              </div>
            </div>
          <div>

          <div *ngIf="!typePerson && selectedBank.name === 'Banco Itau'" class="col-md-6">
            <div class="form-group">
              <input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Preencha com o Email</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="cnpj" [(ngModel)]="user.cnpj" #cnpj="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && cnpj.invalid }" placeholder="CNPJ do titular" required>
              <div *ngIf="f.submitted && cnpj.invalid" class="invalid-feedback">
                <div *ngIf="cnpj.errors.required">Preencha com o CNPJ</div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedBank.name === 'Banco do Bradesco' || selectedBank.name === 'Banco Santander' || selectedBank.name === 'Banco Original' || (typePerson && selectedBank.name === 'Banco Itau')" class="col-md-6">
            <div class="form-group">
              <input type="text" name="cpf" [(ngModel)]="user.cpf" #cpf="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && cpf.invalid }" placeholder="CPF do titular" required>
              <div *ngIf="f.submitted && cpf.invalid" class="invalid-feedback">
                <div *ngIf="cpf.errors.required">Preencha com o CPF</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Nome" required>
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Preencha com o nome</div>
              </div>
            </div>
          </div>
          
          <div *ngIf="selectedBank.name === 'Banco do Bradesco' || selectedBank.name === 'Banco Santander' || selectedBank.name === 'Banco Original' || (typePerson && selectedBank.name === 'Banco Itau')" class="col-md-6">
            <div class="form-group">
              <input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Preencha com o Email</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="tel" [(ngModel)]="user.tel" #tel="ngModel" class="form-control badge-pill" [ngClass]="{ 'is-invalid': f.submitted && tel.invalid }" placeholder="Telefone" required>
              <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback">
                <div *ngIf="tel.errors.required">Preencha com o Telefone</div>
              </div>
            </div>
          </div>

          <div class="col-md-12 text-center form-group">
            <button type="submit" class="btn btn-light-blue badge-pill btn-block mb-2">OBTER INSTRUÇÕES DE PAGAMENTO</button>
            <small class=" text-muted">Em caso de dúvidas, envie um e-mail para falecom@paymee.com.br</small>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

